<div class="row">
  <div class="one-half column" style="margin-top: 25%">
    <h4>Your Pizza</h4>
    <p>
      <%= @pizza[:size] %> <br/>
      <%= @pizza[:crust] %> <br/>
      <%= @pizza[:sauce] %> <br/>
      <%= @pizza[:cheese] %> <br/>
      <% @pizza[:toppings].each do |t| %>
        <%= t %> <br/>
      <% end %>
    </p>

  </div>
</div>